<h1 style="text-align: center; margin-bottom: 1em;">Veranstaltung hinzufügen</h1>
<div class="alert alert-danger" style="text-align: center;" [hidden]="!error">{{ error }}</div>
<div class="row">
    <div class="col-6">
      <img class="loginScreen" src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="People">
    </div>

  <!-- Titel eingeben-->
<form class="createEventForm" #createEventForm=ngForm (ngSubmit)="onSubmit()" style="width: 50%;">
  <h3 >Titel</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 80%;">
      <mat-label>Titel</mat-label>
      <input matInput placeholder="Titel der Veranstaltung" value="" type="text" name="titel" id="inputTitel" [(ngModel)]="form.title" required>
    </mat-form-field>
  </form>
    <!-- Subtitel eingeben-->
  <h3 style="margin-top: 20px;">Subtitel</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 80%;">
      <mat-label>Subtitel</mat-label>
      <input matInput placeholder="Subtitel der Veranstaltung" value="" type="text" name="subtitel" id="inputSubtitel" [(ngModel)]="form.subtitle" required>
    </mat-form-field>
  </form>



  <!-- Input für Datum -->
  <mat-form-field style="width: 80%;">
    <h3 style="margin-top: 20px;">Datum</h3>
    <mat-label>Wähle eine Datum</mat-label>
    <input matInput [matDatepicker]="dp3" (dateInput)="addEvent('input', $event)" disabled>
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>

    <!-- Textfeld Beschreibung eingeben-->
    <h3 style="margin-top: 20px;">Beschreibung</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width" style="width: 80%;">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput [maxLength]="90" placeholder="Beschreibung" value="" type="text" name="descritption" id="inputDescription" [(ngModel)]="form.description" required></textarea>
    </mat-form-field>
  </form>

  <button style="margin-left: 20px" type="submit" class="mdc-button mdc-button--raised beige">
    <span class="mdc-button__label beigeInput">Erstellen</span>
  </button>
</form>