    <!-- Sichtbarer Dokumentinhalt im body -->
    <h1>Willkommen bei unserem Veransstaltungsmanager!</h1>
    <p>Planen Sie mit unserem Veranstaltungsmanager, der Online Eventmanagement Software, alle Ihre Veranstaltungen einfach und komfortabel online. Behalten Sie vom Teilnehmermanagement bis hin zum Aufgaben & Ressourcenmanagement jederzeit den Überblick über Ihre Veranstaltung.
        Konzentrieren Sie sich auf das Wesentliche: Ihre Teilnehmer!</p>
        <br/>
        <br/>
        <br/>


            <!-- Meine Veranstaltungen-->
        <div class="container">
            <div class="row">
              <div class="col-md-4" style="background-color:black; border-color: #F5F0ED; border-radius: 0.5em;">
                
                <h3>Kommende Veranstaltungen</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                
               

                <!--1. Veranstaltung-->
                <div class="container">
                    <div class="row">
                      <div class="col-5"><div class="circular--portraits">
                        <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                    </div></div>
                      <div class="col-7"> <div class="informations-event">
                        <h5>Sommerfest 2019</h5>
                        <p>27-06-2020</p>
                        <button type="submit" class="mdc-button mdc-button--raised light">
                          <span class="mdc-button__label lightInput">Mehr Infos</span>
                        </button></div>
                          </div>
                      </div>
                </div>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>

                

                   <!--2. Veranstaltung-->
                   <div class="container">
                    <div class="row">
                      <div class="col-5"><div class="circular--portraits">
                        <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                    </div></div>
                      <div class="col-7"> <div class="informations-event">
                        <h5>Sommerfest 2019</h5>
                        <p>27-06-2020</p>
                        <button type="submit" class="mdc-button mdc-button--raised light">
                          <span class="mdc-button__label lightInput">Mehr Infos</span>
                        </button></div>
                          </div>
                      </div>
                </div>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>

                 <!--3. Veranstaltung-->
                 <div class="container">
                    <div class="row">
                      <div class="col-5"><div class="circular--portraits">
                        <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                    </div></div>
                      <div class="col-7"> <div class="informations-event">
                        <h5>Sommerfest 2019</h5>
                        <p>27-06-2020</p>
                        <button type="submit" class="mdc-button mdc-button--raised light">
                          <span class="mdc-button__label lightInput">Mehr Infos</span>
                        </button></div>
                          </div>
                      </div>
                </div>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>

                <!-- Button- Verantstaltungen hinzufügen-->
                <button style="margin-left: 40px" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Veranstaltung hinzufügen</span>
                  </button>
              </div>
              


              <!-- Meine To DOs-->
              <div class="col-md-4">
                <h3>Meine TO DO´s</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                
                <div class="container">
                    <div class="row">
                      <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                      </div>
                      <div class="col-9">
                        <p>Lorem ipsum dolor sit amet</p>
                      </div>
                    </div>

               
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <div class="row">
                    <div class="col-1">
                      <mat-checkbox></mat-checkbox>
                    </div>
                    <div class="col-9">
                      <p>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>

                  <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                  <div class="row">
                      <div class="col-1">
                        <mat-checkbox></mat-checkbox>
                      </div>
                      <div class="col-9">
                        <p>Lorem ipsum dolor sit amet</p>
                      </div>
                    </div>

                    <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                    <div class="row">
                        <div class="col-1">
                          <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="col-9">
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>
                      </div>

                      <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                      <div class="row">
                          <div class="col-1">
                            <mat-checkbox></mat-checkbox>
                          </div>
                          <div class="col-9">
                            <p>Lorem ipsum dolor sit amet</p>
                          </div>
                        </div>
                      
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                        <div class="row">
                            <div class="col-1">
                              <mat-checkbox></mat-checkbox>
                            </div>
                            <div class="col-9">
                              <p>Lorem ipsum dolor sit amet</p>
                            </div>
                          </div>
                          <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>

                          
                    </div>
               

                <button style="margin-left: 40px" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Aufgabe hinzufügen</span>
                  </button>
                  
              </div>
              <div class="col-md-4" style="background-color:black; border-color: #F5F0ED; border-radius: 0.5em;">
                <h3>Kalender</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Meine Kontakte</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <p>Max Mustermann</p>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <p>Wolfgang Amadeus</p>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <p>Katy Perry</p>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <button style="margin-left: 40px" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Kontakte bearbeiten</span>
                  </button>
                  
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
          

          <!-- Inpirationen-->
          <div class="container">
            <div class="row">
              <div class="col-12">
               <h3> Zu den Inspos</h3>>
               

              </div>
          

              <div class="row">
                <div class="container">
                    <div class="row">
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                                    
                
              </div>

         
