    <!-- Sichtbarer Dokumentinhalt im body -->
    <h1>Willkommen bei unserem Veransstaltungsmanager!</h1>
    <p>Planen Sie mit unserem Veranstaltungsmanager, der Online Eventmanagement Software, alle Ihre Veranstaltungen einfach und komfortabel online. Behalten Sie vom Teilnehmermanagement bis hin zum Aufgaben & Ressourcenmanagement jederzeit den Überblick über Ihre Veranstaltung.
        Konzentrieren Sie sich auf das Wesentliche: Ihre Teilnehmer!</p>
        <br/>
        <br/>
        <br/>


            <!-- Meine Veranstaltungen-->
        <div class="container">
            <div class="row">
              <div class="col-md-4" style="background-color:black; border-color: #F5F0ED; border-radius: 0.5em;">
                
                <h3>Kommende Veranstaltungen</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                
                <div *ngFor="let event of events; let i = index;">
                  <div class="container">
                    <div class="row">
                      <div class="col-5"><div class="circular--portraits">
                        <img src="../../assets/img/no_image.jpg"/>
                    </div></div>
                      <div class="col-7"> <div class="informations-event">
                        <h5>{{event.title}}</h5>
                        <p>{{event.date}}</p>
                        <button type="submit" class="mdc-button mdc-button--raised light">
                          <span class="mdc-button__label lightInput">Mehr Infos</span>
                        </button></div>
                          </div>
                      </div>
                </div>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
              </div>

                <!-- Button- Verantstaltungen hinzufügen-->
                <div style="text-align: center;">
                  <button style="margin-bottom: 1em;" [routerLink]="['/createEvent']" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Veranstaltung hinzufügen</span>
                  </button>
                 </div>
                
              </div>
              
              <!-- Meine To DOs-->
              <div class="col-md-4">
                <h3>Meine TO DO´s</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                
                <div class="container">
                  <div class="todos" *ngFor="let todo of todos; let i = index;">
                    <ul>
                        <mat-checkbox (click)="check(todo.id, i)">{{todo.todoName}}</mat-checkbox>
                    </ul>
                    <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                </div>
                          
                </div>
               

                <button style="margin-left: 40px" [routerLink]="['/ToDoOverview']" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Aufgabe hinzufügen</span>
                  </button>
                  
              </div>
              <div class="col-md-4" style="background-color:black; border-color: #F5F0ED; border-radius: 0.5em;">
                <h3>Kalender</h3>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Meine Kontakte</h3>
                <div class="contacts" *ngFor="let user of users; let i = index;">
                  <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                  <span [routerLink]="['/profil']" (click)="getUser(this.users[i].id)" style="cursor: pointer; margin-left: 1em;">{{user.name}}</span>
                </div>
                  
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
          

          <!-- Inpirationen
          <div class="container">
            <div class="row">
              <div class="col-12">
               <h3> Zu den Inspos</h3>
              
              </div>
        
              <div class="row">
                <div class="container">
                    <div class="row">
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                      <div class="col-2,5">
                        <div class="col-12"><div class="inspos--portraits">
                            <img src="https://www.mch-group.com/-/media/mch-group/Images/Content/News/Blog/2017/2017-04/mch-group-live-marketing-aktivierung.jpg" />
                        </div></div>
                      </div>
                  
                                    
                
              </div>  -->

         
