<form #loginForm=ngForm (ngSubmit)="onSubmit()">
  <img src="Logo_WA.png" alt="Eventmanager_Logo">
  <style>

    h1 { font-size: 24px; 
          font-family: Futura, bold;}
    p  { font-size: 1.2em; }
    a  { font-size: 0.7cm; }
  
  </style>


  <h1> Jetzt einloggen!</h1>
    <div class="alert alert-danger" [hidden]="!error">{{ error }}</div>
    <div class="form-group row">
      <div class="col-sm-10">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Emailadresse</mat-label>
            <input matInput placeholder="example@example.de" value="" type="email" name="email" id="inputEmail" [(ngModel)]="form.email" required>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Passwort eingeben</mat-label>
              <input matInput placeholder="Passwort" value="" type="password" name="password" id="inputPassword" [(ngModel)]="form.password" required>
            </mat-form-field>
          </form>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
      </div>
    </div>
  </form>

  
  