<div class="row">
    <div style="text-align: center;" class="col-4">
        <div  class="circular--portrait abstandunten">
            <img src="../../assets/img/Profilbild/martin-pechy.jpg" alt="Me">
        </div>
            <!-- Button outlined dark -->   
            <button type="submit" class="mdc-button mdc-button--outlined dark">
                <span class="mdc-button__label darkInput">Profilbild ändern</span>
            </button>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <h2>Martin Pechy</h2>
            </div>
        </div>

    </div>
</div>