<div class="row">
    <div style="text-align: center;" class="col-4">
        <div class="circular--portrait abstandunten">
            <img [src]="profilePicture" alt="Me">
        </div>
        <!-- Button outlined dark -->
        <button [routerLink]="['/bildupload']" class="mdc-button mdc-button--outlined dark">
            <span class="mdc-button__label darkInput">Profilbild ändern</span>
        </button>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <h2>{{vorname}}</h2> 
            </div>
            <div style="text-align: right;" class="col-6">
                <img src="../../assets/icon/edit.svg" style="height: 2em;">
            </div>


        </div>
        <div class="row">
            <div class="col-2">
                <span>Alter:</span>
            </div>
            <div class="col-10">
                <span>23</span>
            </div>
        </div>

        <div class="row" style="margin-bottom: 6em;">
            <div class="col-2">
                <span>Wohnort:</span>
            </div>
            <div class="col-10">
                <span>Stuttgart</span>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Followers</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">40</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Followings</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">54</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Events</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">32</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittigWenigAbstand">
                    <span class="schriftGrau">Pictures</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">14</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="margin-top: 2em;" class="row">
    <div class="col-4 mittig">
        <h2 class="ügold">
            Letzte Events
        </h2>
    </div>
</div>

<div class="row">
<!-- Karten -->
<app-card cardTitle="Sommerfest 2020" subtitle="Mosbacher Brauhaus" datum="29/04/2020" content="Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem" imgurl="https://www.fotomagazin.de/sites/www.fotomagazin.de/files/styles/landing_lead_mobile/public/fm/2019/aufmacher_fotowettbewerb_haida_landschaft.jpg?itok=yk9rEzGY&timestamp=1562245157"></app-card>

</div>
