<div class="row">
    <div style="text-align: center;" class="col-4">
        <div  class="circular--portrait abstandunten">
            <img src="../../assets/img/Profilbild/martin-pechy.jpg" alt="Me">
        </div>
            <!-- Button outlined dark -->   
            <button type="submit" class="mdc-button mdc-button--outlined dark">
                <span class="mdc-button__label darkInput">Profilbild ändern</span>
            </button>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <h2>{{vorname}}</h2>
            </div>
            <div style="text-align: right;" class="col-6">
                <img src="../../assets/icon/edit.svg" style="height: 2em;">
            </div>


        </div>
        <div class="row">
            <div class="col-2">
                <span>Alter:</span>
            </div>
            <div class="col-10">
                <span>23</span>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <span>Wohnort:</span>
            </div>
            <div class="col-10">
                <span>Stuttgart</span>
            </div>
        </div>




    </div>
</div>