/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import "~bootstrap/dist/css/bootstrap.css";
@use "@material/button/mdc-button";


html, body { height: 100%; }
body { margin: 0; font-family: Oswald, "Helvetica Neue", sans-serif !important; background: #262625}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #F5F0ED;
    font-family: Oswald;
  }

  p {
    color: #F5F0ED;
  }

  input {
       color: #F5F0ED !important;
  }

  .beige {
    background-color: #B7A58A !important;
  }

  button .beige {
    color: #F5F0ED;
  }
