/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import "~bootstrap/dist/css/bootstrap.css";
@use "@material/button/mdc-button";
@use "@material/card/mdc-card";


html, body { height: 100%; }
body { margin: 0; font-family: Oswald, "Helvetica Neue", sans-serif !important; background: #262625}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #F5F0ED;
    font-family: Oswald, "Helvetica Neue", sans-serif;
  }
  
  p, span {
    color: #F5F0ED;
  }

  a {
    color: #F5F0ED;
  }

  a:hover {
    color: #B7A58A;
  }

  input {
       color: #F5F0ED !important;
  }

  .beige {
    background-color: #B7A58A !important;
  }

  .beigeInput {
    color: #F5F0ED !important;
    font-family: Oswald, "Helvetica Neue", sans-serif !important;
    font-weight: 700;
  }

  .dark {
    border-color: #F5F0ED !important;
  }

  .darkInput {
    color: #B7A58A !important;
    font-family: Oswald, "Helvetica Neue", sans-serif !important;
    font-weight: 700;
  }

  .light {
    background-color: #F5F0ED!important;
  }

  .lightInput {
    color: #B7A58A !important;
    font-family: Oswald, "Helvetica Neue", sans-serif !important;
    font-weight: 700;
  }


  app-login {
    width: 100% !important;
  }

  .eventCard {
    height: 370px;
    width: 300px;
  }

  .cardContent {
    padding: 15px;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-events {
  width: 100% !important;
}

