<h1 style="margin-bottom: 40px;">Styleguide</h1>

<!-- erstmal nicht beachten 
<button (click)="getUsers()">Get Users</button>
<p>{{ allUsers }}</p>
<br/>-->

<!-- Checkbox -->
<h3>Checkbox</h3>
<mat-checkbox color="warn">Check me!</mat-checkbox>

<br>

<!-- Input-Feld -->
<h3 style="margin-top: 20px;">Input-Feld</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Emailadresse</mat-label>
    <input matInput placeholder="example@example.de" value="" type="email" name="email" id="inputEmail" [(ngModel)]="form.email" required>
  </mat-form-field>
</form>

<br/>

<!-- Button beige -->
<h3>Buttons</h3>
<button style="margin-left: 0px" type="submit" class="mdc-button mdc-button--raised beige">
  <span class="mdc-button__label beigeInput">Login</span>
</button>

<!-- Button light -->
<button type="submit" class="mdc-button mdc-button--raised light">
  <span class="mdc-button__label lightInput">Login</span>
</button>

<!-- Button outlined dark -->
<button type="submit" class="mdc-button mdc-button--outlined dark">
  <span class="mdc-button__label darkInput">Login</span>
</button>

<br>

<!-- Input für Datum -->
<mat-form-field>
  <mat-label>Wähle eine Datum</mat-label>
  <input matInput [matDatepicker]="dp3" disabled>
  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
  <mat-datepicker #dp3 disabled="false"></mat-datepicker>
</mat-form-field>

<br>

<!-- Karten -->
<app-card cardTitle="Sommerfest 2020" subtitle="Mosbacher Brauhaus" datum="29/04/2020" content="Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem" imgurl="https://www.fotomagazin.de/sites/www.fotomagazin.de/files/styles/landing_lead_mobile/public/fm/2019/aufmacher_fotowettbewerb_haida_landschaft.jpg?itok=yk9rEzGY&timestamp=1562245157"></app-card>

<br>

<!-- Karte mit Standarbild (falls keine imgurl vorhanden) -->
<app-card cardTitle="Sommerfest 2020" subtitle="Mosbacher Brauhaus" datum="29/04/2020" content="Lorem ipsum Lorem ipsumLorem Lorem ipsum Lorem ipsumLorem Lorem ipsumLorem"></app-card>

<br>


<!-- Test mit Bildupload -->
<h3>Bildupload</h3>
<input type="file" (change)="selectedFile($event)">
<button (click)="upload()">Hochladen</button>