<h1 style="margin-bottom: 40px;">Styleguide</h1>

<!-- erstmal nicht beachten 
<button (click)="getUsers()">Get Users</button>
<p>{{ allUsers }}</p>
<br/>-->

<!-- Checkbox -->
<h3>Checkbox</h3>
<mat-checkbox color="warn">Check me!</mat-checkbox>
<br>

<!-- Input-Feld -->
<h3 style="margin-top: 20px;">Input-Feld</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Emailadresse</mat-label>
    <input matInput placeholder="example@example.de" value="" type="email" name="email" id="inputEmail" [(ngModel)]="form.email" required>
  </mat-form-field>
</form>
<br/>

<!-- Button beige -->
<h3>Buttons</h3>
<button style="margin-left: 0px" type="submit" class="mdc-button mdc-button--raised beige">
  <span class="mdc-button__label beigeInput">Login</span>
</button>

<!-- Button light -->
<button type="submit" class="mdc-button mdc-button--raised light">
  <span class="mdc-button__label lightInput">Login</span>
</button>

<!-- Button outlined dark -->
<button type="submit" class="mdc-button mdc-button--outlined dark">
  <span class="mdc-button__label darkInput">Login</span>
</button>

<!-- Karten -->

