
<div class="headline" style="display: flex; margin-bottom: 1em; margin-top: 2em;">
    <h3 style="margin-right: 3em;"> Inspirationen suchen und finden!</h3>

	<!-- Grid column -->
	<div class="col-md-12 d-flex justify-content-center mb-5">
  
	  <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
	  <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Mountains</button>
	  <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Sea</button>
  
	</div>
	<!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 2">
		</div>