
<div class="headline" style="display: flex; margin-bottom: 1em; margin-top: 2em;">
    <h3 style="margin-right: 3em;"> Inspirationen suchen und finden!</h3>
</div>
<ul id="galerie">
	<li><button tabindex="1"><img src="dummy-1.jpg" alt="Spaß in der Sonne"></button></li>
	<li><button tabindex="1"><img src="dummy-2.jpg" alt="Berg im Morgennebel"></button></li>
	<li><button tabindex="1"><img src="dummy-3.jpg" alt="Spaß in der Sonne"></button></li>
	<li><button tabindex="1"><img src="dummy-4.jpg" alt="Korallenriff"></button></li>
	<li><button tabindex="1"><img src="dummy-5.jpg" alt="Morgensonne am Gardasee"></button></li>
	<li><button tabindex="1"><img src="dummy-6.jpg" alt="Via Appia, Rom"></button></li>    
</ul>