.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .circular--portrait {
    position: relative;
    width: 14em;
    height: 14em;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  .abstandunten {
    margin-bottom: 0.5em;
  }

  .schriftGrau{
    color: #707070;
  }

  .mittigWenigAbstand{
    text-align: center;
    margin-top: -0.5em;
  }

  .großerText{
    font-size: 2.5em;
    font-family: Oswald;

  }

  .ügold{
    color: #B7A58A;
    font-family: Lato;
    font-weight: 100;
  }

  .mittig{
    text-align: center;
  }
  