<div class="row">
    <div style="text-align: center;" class="col-4">
        <div *ngIf="profilePicture != 'http://localhost/img/null'" class="circular--portrait abstandunten">
            <img [src]="profilePicture" alt="Me">
        </div>
        <div *ngIf="profilePicture == 'http://localhost/img/null'" class="circular--portrait abstandunten">
            <img [src]="standard" alt="Me">
        </div>

    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-6">
                <h2>{{vorname}} {{nachname}}</h2> 
            </div>
            <div style="text-align: right;" class="col-6">
                <!-- Button beige -->
                <button (click)="myAlert()" style="margin-left: 0px; width: 12em" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Folgen</span>
                </button>
                <br>
                <!-- Button light -->
                <button (click)="myAlert()" style= "margin-top: 0.25em; width: 12em" type="submit" class="mdc-button mdc-button--raised light">
                    <span class="mdc-button__label lightInput">Nachricht senden</span>
                </button>
            </div>


        </div>
        <div class="row">
            <div class="col-2">
                <span>Alter:</span>
            </div>
            <div class="col-10">
                <span>{{alter}}</span>
            </div>
        </div>

        <div class="row" style="margin-bottom: 6em;">
            <div class="col-2">
                <span>Wohnort:</span>
            </div>
            <div class="col-10">
                <span>{{wohnort}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Followers</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">40</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Followings</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">54</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Events</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">32</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Pictures</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">14</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="frame" style="display: flex; overflow: scroll; margin-top: 5em; margin-left: 3.5em;">
    <div *ngFor="let card of cards; let i = index;" style="margin-right: 2em; height: 30em;">
        <app-card cardTitle="{{card.title}}" subtitle="{{card.subtitle}}" datum="{{card.date}}" content="{{card.description}}"></app-card>
    </div>
</div>

