<div class="row">
    <div style="text-align: center;" class="col-4">
        <div *ngIf="profilePicture != 'http://localhost/img/null'" class="circular--portrait abstandunten">
            <img [src]="profilePicture" alt="Me">
        </div>
        <div *ngIf="profilePicture == 'http://localhost/img/null'" class="circular--portrait abstandunten">
            <img [src]="standard" alt="Me">
        </div>
        <!-- Button outlined dark -->
        <button [routerLink]="['/bildupload']" class="mdc-button mdc-button--outlined dark">
            <span class="mdc-button__label darkInput">Profilbild ändern</span>
        </button>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-9">
                <h3>Profil bearbeiten</h3>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Vorname</mat-label>
                      <input matInput placeholder="{{vorname}}" value="{{vorname}}" type="text" name="name" id="inputName" [(ngModel)]="form.name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" style="margin-left: 3em;">
                      <mat-label>Nachname</mat-label>
                      <input matInput placeholder="{{nachname}}" value="" type="text" name="name" id="inputSurname" [(ngModel)]="form.surname">
                    </mat-form-field>
                  </form>
            </div>
            <!-- <div style="text-align: right;" class="col-3">
                <img src="../../assets/icon/edit.svg" style="height: 2em;">
            </div> -->
            
        </div>
        <div class="row">
            <div class="col-2">
                <span>Alter:</span>
            </div>
            <div class="col-10">
                <mat-form-field class="example-full-width" style="margin-top: -4em;">
                    <mat-label></mat-label>
                    <input matInput value="{{alter}}" type="number" name="alter" id="inputAlter" [(ngModel)]="form.alter">
                  </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <span>Wohnort:</span>
            </div>
            <div class="col-10">
                <form class="example-form">
                    <mat-form-field class="example-full-width" style="margin-top: -4em;">
                      <mat-label></mat-label>
                      <input matInput placeholder="" value="{{wohnort}}" type="text" name="wohnort" id="inputWohnort" [(ngModel)]="form.wohnort">
                    </mat-form-field>
                  </form>
            </div>
        </div>

        <div class="col-sm-12" style="margin-bottom: 3em; padding: 0px;">
            <button (click)="save()" class="mdc-button mdc-button--raised beige">
                <span class="mdc-button__label beigeInput">Speichern</span>
            </button>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Followers</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">40</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Followings</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">54</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Events</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">32</span>
                </div>
            </div>
            <div class="col-3">
                <div class="mittig">
                    <span class="schriftGrau">Pictures</span>
                </div>
                <div class="mittigWenigAbstand">
                    <span class="großerText">14</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="frame" style="display: flex; overflow: scroll; margin-top: 5em; margin-left: 3.5em;">
    <div *ngFor="let card of cards; let i = index;" style="margin-right: 2em; height: 30em;">
        <app-card cardTitle="{{card.title}}" subtitle="{{card.subtitle}}" datum="{{card.date}}" content="{{card.description}}"></app-card>
    </div>
</div>

