    <!-- Sichtbarer Dokumentinhalt im body -->
    <h3>To Do Liste</h3>
        <br/>
        <br/>
        <br/>


            <!-- Meine Veranstaltungen-->
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="col-sm"style="background-color: black; border-color: #F5F0ED; border-radius: 0.5em;">
                    
                    <mat-list style="width: 100%;">
                        <mat-list-item> 
                            
                            <h4  style="margin-left: 0.6em; ">To Do List 1 - Title</h4>
                        </mat-list-item>
                        <mat-divider> </mat-divider>
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-2" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Kategorie</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Fälligkeit</span>
                                </button>
                            </div>
                            <div class="col-7" >
                             <div class="row" style="margin-bottom: -1.5em;">
                                 <div class="col-3" > <h6>Titel</h6> </div>
                                 <div class="col-9" > </div>
                                 <div class="col-1" > <p></p></div>
                             </div> 
                             <span style="color: grey">Kurzbeschreibung</span> 
                             <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Lorem ipsum dolor sit amet…</p>
                            </div>  
                            <div class="col-3" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Bearbeiten</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                                    <span class="mdc-button__label darkInput">Löschen</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- Dünne Trennlinie zwischen Kontakten -->
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                        
                        
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-2" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Kategorie</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Fälligkeit</span>
                                </button>
                            </div>
                            <div class="col-7" >
                             <div class="row" style="margin-bottom: -1.5em;">
                                 <div class="col-3" > <h6>Titel 2</h6> </div>
                                 <div class="col-9" > </div>
                                 <div class="col-1" > <p></p></div>
                             </div> 
                             <span style="color: grey">Kurzbeschreibung</span> 
                             <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Lorem ipsum dolor sit amet…</p>
                            </div>  
                            <div class="col-3" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Bearbeiten</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                                    <span class="mdc-button__label darkInput">Löschen</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- Dünne Trennlinie zwischen Kontakten -->
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                        
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-2" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Kategorie</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Fälligkeit</span>
                                </button>
                            </div>
                            <div class="col-7" >
                             <div class="row" style="margin-bottom: -1.5em;">
                                 <div class="col-3" > <h6>Titel 3</h6> </div>
                                 <div class="col-9" > </div>
                                 <div class="col-1" > <p></p></div>
                             </div> 
                             <span style="color: grey">Kurzbeschreibung</span> 
                             <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Lorem ipsum dolor sit amet…</p>
                            </div>  
                            <div class="col-3" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Bearbeiten</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                                    <span class="mdc-button__label darkInput">Löschen</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- Dünne Trennlinie zwischen Kontakten -->
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
            
                    </mat-list>    
                </div>        
                    <button style="margin-bottom: 1em; width: 100%;"  type="submit" class="mdc-button mdc-button--raised light">
                        <span class="mdc-button__label lightInput">ToDo hinzufügen</span>
                    </button>
                    <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                        <span class="mdc-button__label beigeInput">Liste bearbeiten</span>
                    </button>
                    <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                        <span class="mdc-button__label darkInput">Liste löschen</span>
                    </button>
                   
                     
            
                  
                        
                        
                
              </div>
             

           
          

          <!-- Inpirationen-->
          <div class="container">
            <div class="row">
              <div class="col-12">
               
              </div>

              <div class="row">
                <div class="container">
                    <div class="row">
                     
                    
                      
                      
                      
                      
                      
                      
                                    
                
              </div>

         
