    <!-- Sichtbarer Dokumentinhalt im body -->
    <h3>To Do Liste</h3>
        <br/>
        <br/>
        <br/>


            <!-- Meine Veranstaltungen-->
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="col-sm"style="background-color: black; border-color: #F5F0ED; border-radius: 0.5em;">
                    
                    <mat-list style="width: 100%;">
                        <mat-list-item> 
                            
                            <h4  style="margin-left: 0.6em; ">To Do List 1 - Title</h4>
                        </mat-list-item>
                        <mat-divider> </mat-divider>
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-2" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Kategorie</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Fälligkeit</span>
                                </button>
                            </div>
                            <div class="col-7" >
                             <div class="row" style="margin-bottom: -1.5em;">
                                 <div class="col-3" > <h6>Titel</h6> </div>
                                 <div class="col-9" > </div>
                                 <div class="col-1" > <p></p></div>
                             </div> 
                             <span style="color: grey">Kurzbeschreibung</span> 
                             <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Lorem ipsum dolor sit amet…</p>
                            </div>  
                            <div class="col-3" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Bearbeiten</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                                    <span class="mdc-button__label darkInput">Löschen</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- Dünne Trennlinie zwischen Kontakten -->
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                        
                        
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-2" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Kategorie</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Fälligkeit</span>
                                </button>
                            </div>
                            <div class="col-7" >
                             <div class="row" style="margin-bottom: -1.5em;">
                                 <div class="col-3" > <h6>Titel 2</h6> </div>
                                 <div class="col-9" > </div>
                                 <div class="col-1" > <p></p></div>
                             </div> 
                             <span style="color: grey">Kurzbeschreibung</span> 
                             <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Lorem ipsum dolor sit amet…</p>
                            </div>  
                            <div class="col-3" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Bearbeiten</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                                    <span class="mdc-button__label darkInput">Löschen</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- Dünne Trennlinie zwischen Kontakten -->
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                        
                        <div class="row" style="margin-top: 2em;">
                            <div class="col-2" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Kategorie</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Fälligkeit</span>
                                </button>
                            </div>
                            <div class="col-7" >
                             <div class="row" style="margin-bottom: -1.5em;">
                                 <div class="col-3" > <h6>Titel 3</h6> </div>
                                 <div class="col-9" > </div>
                                 <div class="col-1" > <p></p></div>
                             </div> 
                             <span style="color: grey">Kurzbeschreibung</span> 
                             <p style="margin-top: 1em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita Lorem ipsum dolor sit amet…</p>
                            </div>  
                            <div class="col-3" style="text-align: center;">
                                <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                                    <span class="mdc-button__label beigeInput">Bearbeiten</span>
                                </button>
                                <button style="margin-top: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--outlined dark">
                                    
                                    <span class="mdc-button__label darkInput">Löschen</span>
                                </button>
                            </div>
                        </div>
            
                        <!-- Dünne Trennlinie zwischen Kontakten -->
                        <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
            
                    </mat-list>    
                </div>        
                    <button style="margin-bottom: 1em; width: 100%;" type="submit" class="mdc-button mdc-button--raised beige">
                                    
                        <span class="mdc-button__label beigeInput">Bearbeiten</span>
                    </button>
                     
            
                  
                        
                        
                
              </div>
             

                <!-- Button- Verantstaltungen hinzufügen-->
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <button style="margin-left: 0px" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">To Do hinzufügen</span>
                  </button>
              </div>
              


              <!-- Meine To DOs-->
              <div class="col-md-4">
                <h3>Deine Listen </h3>
            
                <ul style="background-color:white; color: #262625; border-radius: 0.5em; " >
                    <div class="row">
                        <div class="col-sm align-middle" style="margin: 1.5 em">
                            <p style="color: #B7A58A">Liste 1</p>
                        </div>
                        <div class="col-sm ">
                            <img src="edit-2.png" height="30em" width="30em" class="float-right"/> 
                        </div>    
                    </div>
                </ul>
                <ul style="background-color:white; color: #B7A58A; border-radius: 0.5em; " >
                    <div class="row">
                        <div class="col-sm align-middle" style="margin: 1.5 em">
                            <p style="color: #B7A58A">Liste 2</p>
                        </div>
                        <div class="col-sm ">
                            <img src="edit-2.png" height="30em" width="30em" class="float-right"/> 
                        </div>    
                    </div>
                </ul>
                <ul style="background-color:white; color: #B7A58A; border-radius: 0.5em; " >
                    <div class="row">
                        <div class="col-sm align-middle" style="margin: 1.5 em">
                            <p style="color: #B7A58A">Liste 3</p>
                        </div>
                        <div class="col-sm ">
                            <img src="edit-2.png" height="30em" width="30em" class="float-right"/> 
                        </div>    
                    </div>
                </ul>
                

               
                    <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/> 
                <button style="margin-left: 0px" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Aufgabe hinzufügen</span>
                  </button>
                  
              </div>
              <div class="col-md-4" > <!--Farbe anpassen Rand anpassen-->
                <div class="col-sm"style="background-color: black; border-color: #F5F0ED; border-radius: 0.5em;">
                <!--div style="background-color:#F5F0ED; border-radius: 0.5em; color:  #262625; border-color: #B7A58A; "></div>
                    <h3>Notizen</h3-->
                    
                      
                <h3>Notizen</h3>
                <p>Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et </p>
                <br/>
                
                    <p>dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <br/>
                <br/>
            </div>
                <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.12); border: none;"/>
                <button style="margin-left: 0px" type="submit" class="mdc-button mdc-button--raised beige">
                    <span class="mdc-button__label beigeInput">Notizen bearbeiten</span>
                  </button>
                  
              
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
          

          <!-- Inpirationen-->
          <div class="container">
            <div class="row">
              <div class="col-12">
               
              </div>

              <div class="row">
                <div class="container">
                    <div class="row">
                     
                    
                      
                      
                      
                      
                      
                      
                                    
                
              </div>

         
