.spacer {
    flex: 1;
  }

  .toolbar {
    height: 7em;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #262625;
    color: white;
    font-family: Oswald, "Helvetica Neue", sans-serif;
  }

  .toolbarAuth {
    height: auto;
    display: flex;
    align-items: center;
    background-color: #262625;
    color: white;
    font-family: Oswald, "Helvetica Neue", sans-serif;
  }

  .navbar {
    text-align: center;
  }

  .navBeforeLogin {
    margin-top: 2em !important;
  }

