<div class="toolbar" role="banner">
    <img
      class="logo"
      width="40"
      alt="Logo"
      src="../../assets/img/Logo.png"
    />
    <span>Veranstaltungsmanager</span>
      <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">  
    </a>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>
    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
    <a class="navbar-brand" routerLink="register" *ngIf="!loggedIn">Registrieren</a>
  </div>