<div class="toolbar" role="banner">
  <div *ngIf="loggedIn" class="container navbar">
    <a class="navbar-brand" >HOME</a> 
    <a class="navbar-brand" >TO DO'S</a>
    <a class="navbar-brand" >VERANSTALTUNGEN</a>
    <img class="logo" style="width: 25%; margin-top: 40px;" src="../../assets/img/Logo_WA.png"/>
    <a class="navbar-brand" >KALENDER</a>
    <a class="navbar-brand" >INSPO</a>
    <a class="navbar-brand" >KONTAKTLISTE</a>
    <a class="navbar-brand" href="#" (click)="logout($event)">LOGOUT</a>
  </div>
    <div *ngIf="!loggedIn" class="spacer"></div>
    <a class="navbar-brand navBeforeLogin" style="margin-top: 1.5em" routerLink="login" *ngIf="!loggedIn">LOGIN</a>
    <a class="navbar-brand navBeforeLogin" style="margin-top: 1.5em" routerLink="register" *ngIf="!loggedIn">REGISTRIEREN</a>
</div>

<!-- 
<img
      class="logo"
      width="40"
      alt="Logo"
      src="../../assets/img/Logo_WA.png"
    />
    

    <div class="container">
    <div class="row">
        <div class="col-1 navElement"><span>HOME</span></div>
        <div class="col-1 navElement"><span>TO DO'S</span></div>
        <div class="col-1 navElement"><span>VERANSTALTUNGEN</span></div>
        <div class="col-4 "><img class="logo text-center" src="../../assets/img/Logo_WA.png" alt="Eventmanager_Logo"></div>
        <div class="col-1 navElement"><span>KALENDER</span></div>
        <div class="col-1 navElement"><span>INSPO</span></div>
        <div class="col-1 navElement"><span>KONTAKTLISTE</span></div>
    </div>
  </div>
-->