<div *ngIf="loggedIn" class="toolbarAuth" role="banner">
  <div class="spacer"></div>
  <div style="margin-right: 1.6em; margin-top: 0.5em;">
    <a style="margin-right: 0.6em; font-size: 1.3em; text-decoration: none;" href="#" (click)="logout($event)">LOGOUT</a>
    <a href="#"><img style="height: 2em;" src="../../assets/icon/user.svg"></a>
</div>
</div>
<div class="toolbar" role="banner">
  <div *ngIf="loggedIn" class="container navbar">
        <a class="navbar-brand" >HOME</a> 
        <a class="navbar-brand" >TO DO'S</a>
        <a class="navbar-brand" >VERANSTALTUNGEN</a>
        <img class="logo" style="width: 25%; margin-top: 40px;" src="../../assets/img/Logo_WA.png"/>
        <a class="navbar-brand" >KALENDER</a>
        <a class="navbar-brand" >INSPO</a>
        <a class="navbar-brand" >KONTAKTLISTE</a>  
  </div>
    <img *ngIf="!loggedIn" style="height: 100%; margin-left: 2em; margin-top: 3em;" class="logo" src="../../assets/img/Logo_WA.png"/> 
    <div *ngIf="!loggedIn" class="spacer"></div>
    <a *ngIf="!loggedIn" class="navbar-brand navBeforeLogin" style="margin-right: 1.5em" routerLink="login" >LOGIN</a>
    <a *ngIf="!loggedIn" class="navbar-brand navBeforeLogin" style="margin-right: 1.5em" routerLink="register">REGISTRIEREN</a>
</div>